# Data Structures
* Provides structure which can hold data together.
* Used to store a collection of related data.

## Lists
* Holds ordered collection of items.
* Should be enclosed in square brackets i.e. `[]`
* We can add, remove or even search items in a lists, implying Lists are mutable data types.

### List Methods:
`list.append(x)`
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

`list.extend(iterable)`
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

`list.insert(i, x)`
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

`list.remove(x)`
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

`list.pop([i])`
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

`list.clear()`
Remove all items from the list. Equivalent to del a[:].

`list.index(x[, start[, end]])`
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.
The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

`list.count(x)`
Return the number of times x appears in the list.

`list.sort(key=None, reverse=False)`
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

`list.reverse()`
Reverse the elements of the list in place.

`list.copy()`
Return a shallow copy of the list. Equivalent to a[:].

An example that uses most of the `list` methods:

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

In [ ]:
fruits.count('tangerine')

In [ ]:
fruits.index('banana')

In [ ]:
fruits.index('banana', 4)

In [ ]:
fruits.reverse()
fruits

In [ ]:
fruits.append('grape')
fruits

In [ ]:
fruits.sort()
fruits

In [ ]:
fruits.pop()

## List as a Stack
The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use `append()`. To retrieve an item from the top of the stack, use `pop()`

In [ ]:
stack = [3, 4, 5]
stack.append(6)

In [ ]:
stack

In [ ]:
stack.append(7)
stack

In [ ]:
stack.pop()

In [ ]:
stack

In [ ]:
stack.pop()

In [ ]:
stack

## List as Queue
It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); however, lists are not efficient for this purpose.

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends. For example:

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

In [ ]:
queue.popleft()                 # The second to arrive now leaves

In [ ]:
queue                           # Remaining queue in order of arrival

## List Comprehensions
List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

### Problem: Create list of squares

Traditional approach:

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

In [ ]:
squares = [x**2 for x in range(10)] # More concise and readable right?
squares

### Few more examples:

In [ ]:
[python for python in 'python']

In [ ]:
[number for number in range(10)]

In [ ]:
[number for number in range(10) if number % 2 == 0]

In [ ]:
[number for number in range(100) if number % 2 == 0 if number % 5 == 0]

In [ ]:
['Even' if number%2==0 else "Odd" for number in range(10)]

In [ ]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

In [ ]:
# filter the list to exclude negative numbers
vec = [-4, -2, 0, 2, 4]
[x for x in vec if x >= 0]

In [ ]:
# apply a function to all the elements
vec = [-4, -2, 0, 2, 4]
[abs(x) for x in vec]

## `del`

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

In [ ]:
del a[2:4]
a

In [ ]:
del a[:]
a

In [ ]:
del a # del can also be used to delete entire variables
a

## Tuples
Tuples are like lists except they are immutable like strings. They are useful when a statement or a function can safely assume that collection of values will not change.

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

In [ ]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

In [ ]:
# Tuples are immutable:
t[0] = 88888

In [ ]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

In [ ]:
v[0][0] = 'Changed'
v

### Sequence Unpacking
Reverse operation of tuple packing

In [ ]:
t = 12345, 54321, 'hello!' # Tuple packing
a, b, c = t # Sequence unpacking
print(a,b,c)

# Requres as many variables on left as ther are on right element.

## Sets
* Unordered collection with no duplicate elements.
* Supports mathematical operations like union, interaction, difference.

You can create sets using `{}` or `set()` function

In [ ]:
shopping_basket = {'apple', 'orange', 'pineapple', 'apple', 'pear'}
shopping_basket

In [ ]:
shopping_basket = set()
type(shopping_basket)

In [ ]:
shopping_basket = {}
type(shopping_basket)

In [ ]:
shopping_basket = {'apple', 'orange', 'pineapple', 'apple', 'pear'}
'apple' in shopping_basket

In [ ]:
'strawberry' in shopping_basket

In [ ]:
a = set('abracadabra')
b = set('alacazam')
a # unique letters in a

In [ ]:
b # unique letters in b

In [ ]:
a - b # letters in a but not in b

In [ ]:
a | b # letters in a or b or both

In [ ]:
a & b # letters in both a and b

In [ ]:
a ^ b # letters in a or b but not bot

### Set comprehensions

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

## Dictionary
A dictionary is data strucuture similar to contacts. You can find an address or contact of a person by his/her/its name.
In dictionary, we associate name (i.e keys) with details (i.e values)
Dictionary are indexed by keys, which can be any immutable types (string or numbers) and must be unique.

In [ ]:
contact = {
    'Ram Kasula': 9840298755,
    'Anu Pau': 98651201503,
    'Kade Hade': 9863331239,
    'Ram Kasula': 98402985,
}

contact

In [ ]:
del contact['Kade Hade']
contact

In [ ]:
contact['Santa Behen'] = 9845022233
contact

In [ ]:
list(contact)

In [ ]:
sorted(contact)

In [ ]:
'Santa Behen' in contact

In [ ]:
'Kade Hade' in contact

In [ ]:
dict([('A',1), ('B',2)])

### Dictionary Comprehensions

In [ ]:
{number: number**2 for number in (1, 2, 3)}

### RealWorld Example

In [ ]:
expenses = {
    'Eliza': {
        'Dahi': 280,
        'PaniPuri': 120,
        'Bara': 160,
        'Kulfi': 200,
        'Pau': 50,
    },
    'Binay': {
        'Water': 30,
    },
    'Kshitiz': {
        'Chocolate': 90,
    },
    'Sajal': {
        
    },
}

individual_expense = {person: sum(expenses[person].values()) for person in expenses.keys()}
print(individual_expense.values())
total_expense = sum(individual_expense.values())

print('Individual Expense', individual_expense)
print('Total Expense', total_expense)

for person, expense in individual_expense.items():
    print('Expense for %s is %d' % (person, ((total_expense/len(expenses)) - individual_expense[person])))

# Practice:
* Sum all the items in the list `[1, 2, 3, 4, 5, 6, 7]` without built-in methods.
* Remove odd number from `[1, 2, 3, 4, 5, 6, 7]` list
* Find the index of `4` in list `[1, 2, 3, 4, 5, 6, 7]`
* Find the longest item in the list `['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']`
* Concatinate `'A '` to all the items in the list `['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']`
* Check if list is empty
* Insert `7` to second last element of  `[1, 2, 3, 4, 5, 6, 8]` list.
* Extend `['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']` list with `['pineapple', 'litchi']` without append.
* Unpack a tuple into multiple variables
* Check if an element exist in a tuple 
* Find a repeacted item `2` in a tuple `2, 4, 5, 6, 2, 3, 4, 4, 7` Hint: use `count()`
* For two set `{'apple', 'orange', 'pear', 'pineapple'}` and `{'kiwi', 'orange', 'apple', 'guwava'}`, find:
    * Intersection
    * Union
    * Difference
    * Symmetric Difference
* Find the length of the above sets
* For dictornary:
    ```python
    contact = {
        'Ram Kasula': 9840298755,
        'Anu Pau': 98651201503,
        'Kade Hade': 9863331239,
    }
    ```
    * Check if `Anu Pau` exists ing contact
    * Concatenate below dictionary to contact:
    ```python
    new_contact = {
        'Suraj Shakya': 98546625,
        'Rashmni Maharjan': 98751478556,
        'Sanjeev KC': 984656221546,
        'Ram Kasula': 9840298755,
    }
    ```
    * Remove `Sanjeev KC` from the above dict.
    * Sort the above dict by Keys
    * Check if dict is empty
    * Find common keys between above two dict.
    * Remove space from keys in above dictionary.
    * Count the number of items in the dict.
* Using list comprehension, print a table of 2
* Using dictionary comprehension, print a table of 5
* Remove vowel from string `A dictionary is data strucuture similar to contacts. You can find an address or contact of a person by his/her/its name`
* Calculate final amount for individual items following transaction using comprehension techniques:
    ```python
    transactions = {
        'Corn Flakes': 1001/1,
        'Fruit Cake': 55.5,
        'Apple Kashmiri 1KG': 500,
        'Milk 1Packet': 40
    }
    tax_rate = 13
    ```
* From above, assuming discount rate is 10%, calculate the final prices for individual items and total amount.
* Find unique vowel from string `It is a good day to Practice Python`
* Find length of each word in `Today is my lucky day` using dictonary comprehension
* Find numbers which is divisible by 2 but not by 5 using list comprehension upto 100

# Solution to Exercises

In [111]:
#Sum all the items in the list [1, 2, 3, 4, 5, 6, 7] without built-in methods.

list = [1, 2, 3, 4, 5, 6, 7]
sum = 0 #initializing a variable sum
for numbers in list:
    sum += numbers # this can also be interpreted as sum = sum + numbers
print(sum)

28

In [112]:
#Remove odd number from [1, 2, 3, 4, 5, 6, 7] list

list = [1, 2, 3, 4, 5, 6, 7]
for i in list[0:]:
    if i%2!=0:
        list.remove(i)
print("List without odd numbers", list)

List without odd numbers [2, 4, 6]

In [113]:
#Find the index of 4 in list [1, 2, 3, 4, 5, 6, 7]

list = [1, 2, 3, 4, 5, 6, 7]
list.index(4)

3

In [114]:
#Find the longest item in the list ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

list = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
length = max(len(items) for items in list) #finding out maximum length from the items in list
#print(length) results 6 in this case
[items for items in list if len(items) == length] #finding out the items which match the maximum length i.e. 6 in this case

['orange', 'banana', 'banana']

In [115]:
#Concatinate 'A ' to all the items in the list ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

list = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
string_to_concatenate = 'A'
[string_to_concatenate + ' ' + items for items in list]

['A orange', 'A apple', 'A pear', 'A banana', 'A kiwi', 'A apple', 'A banana']

In [116]:
#Check if list is empty

list = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
if len(list)>0:
    print("List is not empty!")
else:
    print("Emply list!")

List is not empty!

In [117]:
#Insert 7 to second last element of  [1, 2, 3, 4, 5, 6, 8] list.

list = [1, 2, 3, 4, 5, 6, 8]
list.insert(6, 7) #inserting 7 at the 6th index of the list
print(list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [118]:
#Extend ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'] list with ['pineapple', 'litchi'] without append.

list = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
list_to_add = ['pineapple', 'litchi']
list = list + list_to_add
print(list)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'pineapple', 'litchi']

In [119]:
#Unpack a tuple into multiple variables

tuple = 'Hey!', 'Python', 'Training.', 1
t1, t2, t3, t4 = tuple
print(t1, t2, t3, t4)

Hey! Python Training. 1

In [ ]:
#Check if an element exist in a tuple

tuple = 'Hi!', 147 , 'There'
147 in tuple

In [ ]:
#Find a repeacted item 2 in a tuple 2, 4, 5, 6, 2, 3, 4, 4, 7 Hint: use count()

tuple = (2, 4, 5, 6, 2, 3, 4, 4, 7)
print(tuple.count(2))

For two set {'apple', 'orange', 'pear', 'pineapple'} and {'kiwi', 'orange', 'apple', 'guwava'}, find:
Intersection
Union
Difference
Symmetric Difference

In [ ]:
fruits1 = {'apple', 'orange', 'pear', 'pineapple'}
fruits2 = {'kiwi', 'orange', 'apple', 'guwava'}
print("Intersection = ", fruits1 & fruits2)
print("Union = ", fruits1 | fruits2)
print("Difference = ", fruits1 - fruits2)
print("Symmetric difference = ", fruits1^fruits2)

In [ ]:
#Find the length of the above sets

fruits1 = {'apple', 'orange', 'pear', 'pineapple'}
fruits2 = {'kiwi', 'orange', 'apple', 'guwava'}
print("Length of fruits1:", len(fruits1))
print("Length of fruits2:", len(fruits2))

For dictornary:
contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 98651201503,
      'Kade Hade': 9863331239,
  }
Check if Anu Pau exists ing contact
Concatenate below dictionary to contact:
new_contact = {
  'Suraj Shakya': 98546625,
  'Rashmni Maharjan': 98751478556,
  'Sanjeev KC': 984656221546,
  'Ram Kasula': 9840298755,
}
Remove Sanjeev KC from the above dict.
Sort the above dict by Keys
Check if dict is empty
Find common keys between above two dict.
Remove space from keys in above dictionary.
Count the number of items in the dict.

In [ ]:
contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 9851201503,
      'Kade Hade': 9863331239,
  }

#checking if Anu Pau is in contact
'Anu Pau' in contact

In [ ]:
#Concatenating below dictionary to contact

contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 9851201503,
      'Kade Hade': 9863331239,
  }

new_contact = {
  'Suraj Shakya': 98546625,
  'Rashmni Maharjan': 98751478556,
  'Sanjeev KC': 984656221546,
  'Ram Kasula': 9840298755,
}

contact.update(new_contact)
contact

In [ ]:
#Removing Sanjeev KC from the above dict.

del contact['Sanjeev KC']
contact

In [ ]:
#Sorting the above dict by Keys

sorted(contact)

In [ ]:
#Checking if dict is empty

if(len(contact)>0):
    print("Dictionary is not empty!")
else:
    print("Dirctionary is empty!")

In [ ]:
#Finding common keys between above two dict.

contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 9851201503,
      'Kade Hade': 9863331239,
  }

new_contact = {
  'Suraj Shakya': 98546625,
  'Rashmni Maharjan': 98751478556,
  'Sanjeev KC': 984656221546,
  'Ram Kasula': 9840298755,
}

for keys_contact in contact.keys():
    for keys_new_contact in new_contact.keys():
        if keys_contact == keys_new_contact:
            print("The common keys are:", keys_contact)

In [ ]:
#Removing space from keys in above dictionary.

contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 9851201503,
      'Kade Hade': 9863331239,
  }

new_contact = {
  'Suraj Shakya': 98546625,
  'Rashmni Maharjan': 98751478556,
  'Sanjeev KC': 984656221546,
  'Ram Kasula': 9840298755,
}

contact.update(new_contact) #adding new_contact to contact dictionary

for keys in contact:
    contact={keys.replace(' ',''):values for keys, values in contact.items()}
print(contact)

In [ ]:
#Counting the number of items in the dict.

contact = {
      'Ram Kasula': 9840298755,
      'Anu Pau': 9851201503,
      'Kade Hade': 9863331239,
  }

new_contact = {
  'Suraj Shakya': 98546625,
  'Rashmni Maharjan': 98751478556,
  'Sanjeev KC': 984656221546,
  'Ram Kasula': 9840298755,
}

contact.update(new_contact) #adding new_contact to contact dictionary

for keys in contact:
    length=len(contact.keys())
print("The total number of items in the dictionary is:", length)

#or we can use the following:
#print("The total number of items in the dictionary is:", len(contact.items()))

In [ ]:
#Using list comprehension, print a table of 2

table_of_2 = [items*2 for items in range(1,11)]
table_of_2

In [ ]:
#Using dictionary comprehension, print a table of 5

table_of_5 = {items*5 for items in range(1,11)}
table_of_5

In [34]:
#Remove vowel from string A dictionary is data strucuture similar to contacts. You can find an address or contact of a person by his/her/its name

string = "A dictionary is data strucuture similar to contacts. You can find an address or contact of a person by his/her/its name"
vowel_string = {'a', 'e', 'i', 'o', 'u'}
new_string = string.lower() #if this step is missed the letter in uppercase will not be replaced
for words in string.lower():
    if words in vowel_string:
        new_string = new_string.replace(words,'')
print(new_string)

 dctnry s dt strctr smlr t cntcts.  cn fnd n ddrss r cntct f  prsn by hs/hr/ts nm

Calculate final amount for individual items following transaction using comprehension techniques:
  transactions = {
      'Corn Flakes': 1001/1,
      'Fruit Cake': 55.5,
      'Apple Kashmiri 1KG': 500,
      'Milk 1Packet': 40
  }
  tax_rate = 13
From above, assuming discount rate is 10%, calculate the final prices for individual items and total amount.
Find unique vowel from string It is a good day to Practice Python
Find length of each word in Today is my lucky day using dictonary comprehension
Find numbers which is divisible by 2 but not by 5 using list comprehension upto 100

In [87]:
#Calculating the final prices for individual items and total amount

transactions = {
      'Corn Flakes': 1001/1,
      'Fruit Cake': 55.5,
      'Apple Kashmiri 1KG': 500,
      'Milk 1Packet': 40
  }
tax_rate = 13
discount = 10/100
total_tax = tax_rate/100

individual_price = {items: transactions[items] for items in transactions.keys()}
individual_price_with_tax_after_discount = {items: transactions[items] + transactions[items] * total_tax - transactions[items] * discount for items in transactions.keys()}
total_price = sum(individual_price_with_tax_after_discount.values())

for items, price in individual_price.items():
    print('Final price for %s is: Rs.%d' % (items, individual_price_with_tax_after_discount[items]))
    
print('The total price is: Rs.%d' % total_price)

Final price for Corn Flakes is: Rs.1031
Final price for Fruit Cake is: Rs.57
Final price for Apple Kashmiri 1KG is: Rs.515
Final price for Milk 1Packet is: Rs.41
The total price is: Rs.1644

In [110]:
#Find unique vowel from string "It is a good day to Practice Python"

string = 'It is a good day to Practice Python'
unique_vowels = {x for x in string if x in 'aeiou'}
unique_vowels

{'a', 'e', 'i', 'o'}

In [105]:
#Find length of each word in "Today is my lucky day" using dictonary comprehension

[len(words) for words in 'Today is my lucky day'.split()]

[5, 2, 2, 5, 3]

In [103]:
#Find numbers which is divisible by 2 but not by 5 using list comprehension upto 100

[numbers for numbers in range(100) if numbers % 2 == 0 if numbers % 5 != 0]

[2,
 4,
 6,
 8,
 12,
 14,
 16,
 18,
 22,
 24,
 26,
 28,
 32,
 34,
 36,
 38,
 42,
 44,
 46,
 48,
 52,
 54,
 56,
 58,
 62,
 64,
 66,
 68,
 72,
 74,
 76,
 78,
 82,
 84,
 86,
 88,
 92,
 94,
 96,
 98]